---
layout: archive
title: "Talks & Conferences"
permalink: /talks/
author_profile: true
---

{% assign talk_posts = site.posts | where_exp: "post", "post.tags contains 'Talk'" %}
{% assign sorted_talks = talk_posts | sort: 'date' | reverse %}

<div class="page-intro">
  <h1>🎤 All Talks & Conferences</h1>
  <p class="lead">Complete collection of my conference talks and presentations ({{ talk_posts.size }} talks)</p>
</div>

<div class="entries-list">
  {% for post in sorted_talks %}
    <div class="list__item">
      <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        {% if post.header.teaser %}
          <div class="archive__item-teaser">
            <img src="{{ post.header.teaser }}" alt="{{ post.title }}">
          </div>
        {% endif %}
        <h2 class="archive__item-title no_toc" itemprop="headline">
          <a href="{{ post.url }}" rel="permalink">{{ post.title }}</a>
        </h2>
        <p class="page__meta">
          <span class="page__meta-date">
            <i class="far fa-calendar-alt" aria-hidden="true"></i>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
          </span>
        </p>
        {% if post.excerpt %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {% endif %}
      </article>
    </div>
  {% endfor %}
</div>
